@page "/"

@*<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
*@

@*<Form001 Message="Un Saludo"></Form001>
<Form001 Message="Un Saludo"></Form001>
<Form001 Message="Un Saludo"></Form001>*@
<Form002></Form002>
